/* some style */




#example {
    width: 400px;
}

.low {
  color: black;
  background-color: #a6d6d9;
}

.very-high {
  color: black;
  background-color: #ff8680;
}
.high {
  color: black;
  background-color: #ffc580;
}
.mid {
  color: black;
  background-color: #f9ff80;
}


