/* some style */


.sortable-header .btn {
  width: 100%;
  margin: 0px;
  background-color: #ededed;
}
.asc {
  cursor: n-resize;
}
.asc div.arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid grey;
}
.desc {
  cursor: s-resize;
}
.desc div.arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid grey;
}
.no-sort {
  cursor: s-resize;
}
.no-sort div.arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ededed;
}
.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.panel-view-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}





#example {
    width: 400px;
}

.low {
  color: black;
  background-color: #a6d6d9;
}

.very-high {
  color: black;
  background-color: #ff8680;
}
.high {
  color: black;
  background-color: #ffc580;
}
.mid {
  color: black;
  background-color: #f9ff80;
}


